// @use "sass:math";
@import 'breakpoints.scss';


//$grid-columns: 12;

.loadingState{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // position: absolute;
    // top: 50%;
    // margin: auto;
}

// base layout
.grid-container{
    width: 100%;
    // max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 50px;
    @include media ('<=1200px') {
        grid-template-columns: repeat(3,1fr);
    }
    @include media ('<=tablet') {
        grid-template-columns: repeat(2,1fr);
    }
    @include media ('<=550px') {
        grid-template-columns: repeat(2,1fr);
        // padding-left: 20px;
        grid-gap : 30px;
    }
    @include media ('<=495px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 100px;
        padding-right: 100px;
    }
    @include media ('<=440px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 70px;
        padding-right: 70px;
        grid-gap : 25px;
    }
    @include media ('<=375px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
    @include media ('<=320px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 30px;
        padding-right: 30px;
        grid-gap : 15px;
    }
}

//row of grid elements
.countries {
    display: block;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
    border-radius: 0.5rem;
    background-color: inherit;
    color: inherit;
    height: 336px;
    .country-flag{
        height: 50%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem 0.5rem 0 0;
        }
    }
    .country-info{
        padding-top: 25px;
        padding-left: 20px;
        background-color: inherit;
        color: inherit;
        h3{
            margin-bottom: 20px;
            font-family: 'Lato';
            font-size: 20px;
        }
        h4{
            margin-bottom: 5px;
            font-family: 'Lato';
            font-weight: 300;
            font-size: 16px;
        }
    }
}
.linkStyle{
    text-decoration: none;
    color: inherit;
}


// // column classes
// @include xs {
//     @for $i from 1 through $grid-columns {
//         .col-#{$i}-xs {
//         box-sizing: border-box;
//         flex-grow: 0;
//         width: math.div($i * 100%, $grid-columns);
//       }
//     }
// }
// @include sm {
//     @for $i from 1 through $grid-columns {
//         .col-#{$i}-sm {
//         box-sizing: border-box;
//         flex-grow: 0;
//         width: math.div($i * 100%, $grid-columns);
//         }
//     }
// }
// @include md {
//     @for $i from 1 through $grid-columns {
//       .col-#{$i}-md {
//         box-sizing: border-box;
//         flex-grow: 0;
//         width: math.div($i * 100%, $grid-columns);
//       }
//     }
// }
// @include lg {
//     @for $i from 1 through $grid-columns {
//       .col-#{$i}-lg {
//         box-sizing: border-box;
//         flex-grow: 0;
//         width: math.div($i * 100%, $grid-columns);
//       }
//     }
// }
// @include xl {
//     @for $i from 1 through $grid-columns {
//       .col-#{$i}-xl {
//         box-sizing: border-box;
//         flex-grow: 0;
//         width: math.div($i * 100%, $grid-columns);
//       }
//     }
// }