@import 'breakpoints.scss';

.loadingState{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

// base layout
.grid-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 50px;
    @include media ('<=1200px') {
        grid-template-columns: repeat(3,1fr);
    }
    @include media ('<=tablet') {
        grid-template-columns: repeat(2,1fr);
    }
    @include media ('<=550px') {
        grid-template-columns: repeat(2,1fr);
        grid-gap : 30px;
    }
    @include media ('<=495px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 100px;
        padding-right: 100px;
    }
    @include media ('<=440px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 70px;
        padding-right: 70px;
        grid-gap : 25px;
    }
    @include media ('<=375px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 50px;
        padding-right: 50px;
    }
    @include media ('<=320px') {
        grid-template-columns: repeat(1,1fr);
        padding-left: 30px;
        padding-right: 30px;
        grid-gap : 15px;
    }
}

.countries {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
    border-radius: 0.5rem;
    background-color: inherit;
    color: inherit;
    height: 336px;
    &:hover{
        transform: translateY(-10px);
        transition: all 0.3s ease-in-out;
    }
    .country-flag{
        height: 50%;
        width: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0.5rem 0.5rem 0 0;
        }
    }
    .country-info{
        padding-top: 25px;
        padding-left: 20px;
        background-color: inherit;
        color: inherit;
        h3{
            margin-bottom: 20px;
            font-family: 'Lato';
            font-size: 20px;
        }
        h4{
            margin-bottom: 5px;
            font-family: 'Lato';
            font-weight: 300;
            font-size: 16px;
        }
    }
}
.linkStyle{
    text-decoration: none;
    color: inherit;
}

