.border-details {
    color: inherit;
    background-color: inherit;
    .border-links {
        color: inherit;
        background-color: inherit;
        ul {
            color: inherit;
            background-color: inherit;
            display: inline-block;
            li {
                text-decoration: none;
                list-style: none;
                width: auto;
                color: inherit;
                background-color: inherit;
                margin-right: 5px;
                margin-top: 5px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
                padding: 5px 10px;
                transition: all 0.4s ease;
                &:hover{
                    //box-shadow: 4px 3px 9px -1px gray;
                    transform: translateY(-0.5px);
                    background-color: rgba(168, 167, 167, 0.1);
                }
            }
        }
    }
    
}