@import "breakpoints.scss";
.country {
    box-sizing: border-box;
    display: flex;
    color: inherit;
    background-color: inherit;
    width: 100%;
    padding-left: 10%;
    bottom: 100px;
    height: 50vh;
    position: relative;
    top: 200px;
    @include media ("<=1020px") {
        display: block;
        width: 85%;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 20px;
    }
    @include media ("<=600px") {
        width: 90%;
        margin-bottom: 100px;
    }
    .flag{
        width: 40%;
        height: 100%;
        @include media ("<=1020px") {
            width: 60%;
            padding: 0;
            margin: 0 auto;
        }
        @include media ("<=tablet"){
            width: 70%;
        }
        @include media ("<=600px"){
            width: 80%;
            height: 80%;
        }
        @include media ("<=530px"){
            width: 90%;
            height: 70%;
        }
        @include media ("<=400px"){
            width: 90%;
            height: 60%;
        }
        @include media ("<=360px"){
            width: 90%;
            height: 50%;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            
        }
    }
    .country-details {
        display: block;
        width: 40%;
        height: 70%;
        padding: 0% 0 2% 10%;
        @include media ("<=1020px") {
            width: 60%;
            padding: 5% 0;
            margin: 0 auto;
        }
        @include media ("<=tablet"){
            width: 70%;
        }
        @include media ("<=600px"){
            width: 80%;
        }
        @include media ("<=530px"){
            width: 90%;
        }
        .country-name {
            padding-bottom: 20px;
            font-size: 1.3rem;
            @include media ("<=530px") {
                font-size: 1rem;
            }
        }
        .details {
            display: flex;
            justify-content: space-between;
            line-height: 23px;
            padding-bottom: 50px;
            font-size: 1.2rem;
            .info-text{
                font-weight: 400;
            }
            @include media ("<=460px"){
                display: block;
                font-size: 1rem;
            }
            .block1 {
                @include media ("<=460px") {
                    margin-bottom: 40px;
                }
            }
        }
        .border {
            color: inherit;
            background-color: inherit;
        }
    }
    
}

.back-link {
    width: 120px;
    height: 40px;
    position: relative;
    top: 140px;
    background-color: inherit;
    color: inherit;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    &:hover{
        transition: all 0.4s ease;
        background-color: rgba(168, 167, 167, 0.1);
    }
    .link-text {
        padding-left: 5px;
    }
}
