@import "breakpoints.scss";
.country {
    box-sizing: border-box;
    display: flex;
    // background-color: aqua;
    width: 100%;
    padding-left: 10%;
    // margin: 0 auto;
    // margin-right: 0;
    height: 50vh;
    position: relative;
    top: 200px;
    @include media ("<=1020px") {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .flag{
        width: 40%;
        height: 100%;
        @include media ("<=1020px") {
            width: 60%;
            padding: 0;
            margin: 0 auto;
        }
        @include media ("<=tablet"){
            width: 70%;
        }
        @include media ("<=600px"){
            width: 80%;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            // border-radius: 0.5rem 0.5rem 0 0;
        }
    }
    .country-details {
        display: block;
        width: 40%;
        height: 70%;
        // margin: auto 0;
        padding: 2% 0 2% 10%;
        @include media ("<=1020px") {
            width: 60%;
            padding: 5% 0;
            margin: 0 auto;
        }
        @include media ("<=tablet"){
            width: 70%;
        }
        @include media ("<=600px"){
            width: 80%;
        }
        .country-name {
            padding-bottom: 20px;
            font-size: 1.3rem;
        }
        .details {
            display: flex;
            justify-content: space-between;
            line-height: 23px;
            padding-bottom: 50px;
            // width: 100%;
            // margin: auto;
            font-size: 1.2rem;
            .info-text{
                font-weight: 400;
            }
        }
    }
}

.back-link {
    width: 120px;
    height: 40px;
    position: relative;
    top: 140px;
    // background-color: #F2F2F2;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .link{
        text-decoration: none;
        color: black;
        // .link-text {
        //     // color: black;
        //     // background-color: #F2F2F2;
        // }
        // background-color: inherit;
    }
}