.country {
    display: flex;
    // background-color: aqua;
    width: 80%;
    margin: 0 auto;
    // margin-top: 100px;
    height: 50vh;
    position: relative;
    top: 250px;
    .flag{
        width: 40%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            // border-radius: 0.5rem 0.5rem 0 0;
        }
    }
    .country-details {
        display: block;
        width: 40%;
        height: 70%;
        // margin: auto 0;
        padding: 5% 10%;
        .country-name {
            padding-bottom: 20px;
        }
        .details {
            display: flex;
            justify-content: space-between;
            line-height: 23px;
            padding-bottom: 50px;
            // margin: auto;
        }
    }
}

.back-link {
    width: 120px;
    height: 40px;
    position: relative;
    top: 150px;
    // background-color: aqua;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .link{
        text-decoration: none;
        color: black;
    }
}