.filter {
    padding: 130px 40px 20px 40px;
    width: 35%;
    input{
        width: 100%;
        border: none;
        padding: 10px 4px;
        font-size: 1rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px;
    }
}