@import 'breakpoints.scss';

.filter {
    box-sizing: border-box;
    padding: 130px 40px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    color: inherit;
    @include media ('<=495px') {
        display: flex;
        flex-direction: column;
        padding-top: 110px;        
    }
    .nameSearch{
        width: 35%;
        border: none;
        padding: 10px 4px;
        font-size: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
        background-color: inherit;
        color: inherit;
        transition: all 0.1s ease-in-out;
        &:focus{
            outline: none;
            border: none;
        }
        &:hover{
            outline: 0.5px solid grey;
            box-shadow: 2px 2px 9px -2px grey;
        }
        @include media ('<=tablet') {
            width: 45%;
        }
        @include media ('<=495px') {
            margin-bottom: 20px;
            width: 100%;
            padding: 15px 10px;
        }
    }
    .regionFilter {
        width: 16%;
        padding-left: 10px;
        padding-right: 5px;
        border: none;
        font-size: 1rem;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
        background-color: inherit;
        color: inherit;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:focus{
            outline: none;
            border: none;
        }
        &:hover{
            outline: 0.5px solid grey;
            box-shadow: 2px 2px 9px -2px grey;
        }
        @include media ('<=1024px') {
            width: 22%;
        }
        @include media ('<=tablet') {
            width: 27%;
        }
        @include media ('<=600px') {
            width: 35%;
        }
        @include media ('<=495px') {
            padding: 15px 10px;
            width: 60%;
        }
        .opt {
            //width: 100px !important;
            background-color: inherit;
            color: inherit;
        }
    }
}