@import 'breakpoints.scss';

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    background-color: #F2F2F2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    @include media ('<=415px') {
        padding: 20px 20px;
    }
    .main-text{
        @include media ('<=495px') {
            font-size: 1.5rem;
        }
        @include media ('<=415px') {
            font-size: 1.2rem;
        }
        @include media ('<=phone') {
            font-size: 1rem;
        }
        &:hover {
            color: rgb(45, 51, 45);
        }
    }
    
}

.dark{
    background-color: #202C36;
    color: #f7f4f4;
  }

.linkStyle{
    text-decoration: none;
    color: inherit;
    
}  