* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #F2F2F2;
  color: black;
  font-family: "Lato";
}
.dark{
  background-color: #202C36;
  color: #f7f4f4;
}
/* .dark{
  background-color: aqua;
  color: white;
} */