* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #F2F2F2;
  color: black;
  font-family: "Lato";
}
.dark{
  background-color: #2B3844;
  color: #f7f4f4;
}
